<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/forgot.css">
        <link rel="stylesheet" type="text/css" href="css/forgot3.css">
        <link rel="stylesheet" href="/css/fa/css/font-awesome.min.css">
    </head>
    <body>
        
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/forgot-pass2" class = "back-button">◄ </a>
                    <p class = "back-header">Forgot Password</p>
                    <% if (message && message.length > 0 ){%>
                        <div class ="error-col">
                            <span class="fa fa-exclamation-circle"></span>
                            <span class="msg_forgot3"><%= message %></span>
                        </div>
                    <% } %>
                </div>
                <div class = "row-body-3">
                    <p class = "inner-header-2">Enter new password:</p>
                    <form class = "new-pass-form" action="forgot-changePass3" method="POST">
                        <div class = "password-in">
                            <input required type = "password" pattern= "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder = "Enter new password" class = "password-loc" name="pass" minlength="8">
                            <input required type = "password" pattern= "^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?!.*\s).*$" placeholder = "Confirm new password" class = "password-loc" name="confirmPass" minlength="8">
                            <input type = "submit" class = "change-pass-button" value= "Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>