<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/forgot.css">
        <link rel="stylesheet" type="text/css" href="css/forgot2.css">
        <link rel="stylesheet" href="/css/fa/css/font-awesome.min.css">
        <link rel="shortcut icon" type="image/png" href="/res/pizza.ico">
    </head>
    <body>
       
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/forgot-pass1" class = "back-button">◄ </a>
                    <p class = "back-header">Forgot Password</p>
                    <% if (message && message.length > 0 ){%>
                        <div class ="error-col">
                            <span class="fa fa-exclamation-circle"></span>
                            <span class="msg_forgot2"><%= message %></span>
                        </div>
                    <% } %>
                </div>
                <div class = "row-body-2">
                    <p class = "inner-header-2">Answer Security Questions:</p>
                    <div class = "answer-item-container">
                        <form class = "security-answer-form" action="/forgot-pass3" method="POST">
                            <div class = "sec-questions">
                                <label for="question1" class = "question"><%=q1%></label>
                                <label for="question1" class = "question"><%=q2%></label>
                                <label for="question1" class = "question"><%=q3%></label>
                            </div>
                            <div class = "sec-answers">
                            
                                <input required type = "text" placeholder="Answer" class="ans-loc a1" name="a1">
                                <input required type = "text" placeholder="Answer" class="ans-loc a2" name="a2">
                                <input required type = "text" placeholder="Answer" class="ans-loc a3" name="a3">
                                <input class = "next-button2" type = "submit" value = "Next">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>