<html>
    <head>
        <title>Account</title>
        
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/main.js"></script>
        <script src="js/account.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/account.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="index.html">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="inventory.html">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="sales.html">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="statistics.html">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="account.html">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="index.html">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="inventory.html">Inventory</a>
                            </li>
                            <li class = "menu-item-3">
                                <a href="sales.html">Sales</a>
                                
                            </li>
                            <li class = "menu-item-4">
                                <a href="statistics.html">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="account.html">Account</a>
                            </li>
                            <div class = "selected"></div>
                            <input type="button" id = "logout" class = "logout-button" onclick = "logout()" value = "Logout">
                            <a href = "help.html" class = "help-button">How to use</a>
                        </ul>
                    </div>

                </div>
                <div class = "page">
                    <div class = "col-1">
                        <p class = "header-text">Information</p>
                        <div class = "info-container">
                            <div class = "info-text">
                                <p class = "inner-text">account:</p>
                            </div>

                            <div class = "info-entry">
                                <p class = "username-loc"><%=username%></p>
                            </div>

                        </div>

                        <div class = "info-rest">
                            <p class = "header-text">Security Questions</p>
                            <div class = "security-div">
                                <div class = select-container>
                                    <select name="security options" class = "security-1 sec-questions">
                                        <option value = "q1"><%=q1%></option>
                                        <option value = "q1">Security Question 2</option>
                                        <option value = "q1">Security Question 3</option>
                                        <option value = "q1">Security Question 4</option>
                                        <option value = "q1">Security Question 5</option>
                                    </select>
                                    <button type = "submit" class = "dropdown-icon"></button>
                                 </div>

                                <div class = select-container>
                                    <select name="security options" class = "security-2 sec-questions">
                                        <option value = "q1"><%=q2%></option>
                                        <option value = "q1">Security Question 2</option>
                                        <option value = "q1">Security Question 3</option>
                                        <option value = "q1">Security Question 4</option>
                                        <option value = "q1">Security Question 5</option>
                                    </select>
                                    <button type = "submit" class = "dropdown-icon"></button>
                                </div>

                                <div class = select-container>
                                    <select name="security options" class = "security-3 sec-questions">
                                        <option value = "q1"><%=q3%></option>
                                        <option value = "q1">Security Question 2</option>
                                        <option value = "q1">Security Question 3</option>
                                        <option value = "q1">Security Question 4</option>
                                        <option value = "q1">Security Question 5</option>
                                    </select>
                                    <button type = "submit" class = "dropdown-icon"></button>
                                </div>
                            </div>
                            <p class = "header-text header-3">Accounts:</p>
                            <input class = "add-button" type = "button" value = "Add Account" onclick="showPopup()">
                        </div>

                    </div>

                    <div class = "col-2">
                        <a href = "#" class = "change-uname" onclick="showChangeUsern()">change username</a>
                        <a href = "#" class = "change-pass" onclick="showChangePass()">change password</a>
                        
                        <form onsubmit="return showPopup()">
                        <input type = "text" id = "security-ans-1" class = "sec-answer" placeholder = "Answer">
                        <input type = "text" id = "security-ans-2" class = "sec-answer" placeholder = "Answer">
                        <input type = "text" id = "security-ans-3" class = "sec-answer" placeholder = "Answer">
                    </div>

                    <div class = "col-3">
                        <input class = "delete-button" type = "button" value = "Delete Account" onclick="showPopup()">
                        <input class = "update-button" type = "submit" value = "Update">
                    </form>
                    </div>
                </div>
            </div>
            <div class = "popup">
                <div class = "popup-form">
                    <button class = "close-popup" onclick="closePopup()">X</button>
                    <h1>POP UP</h1> 
                </div>
            </div>

            
            <div class = "change-usern-popup">
                <form class = "change-usern-popup-form" action="/changeUsername" method="POST">
                    <button class = "close-popup" onclick="closeUsernPopup()">X</button>
                    <div class = "change-usern-1">
                        <h1>Change Username</h1>
                        <input required type = "text" placeholder = "New Username" class = "new-usern" name="username">
                        <button class = "next-usern" onclick="usernNext1()">next</button>
                    </div>
                    <div class = "change-usern-2">
                        <h1>Confirm Password</h1>
                        <input required type = "password" placeholder = "Enter Password" class = "new-usern" name="password">
                        <input type = "submit" class = "next-usern"></input>
                    </div>
                </form>
            </div>

            <div class = "change-pass-popup">
                <form class = "change-pass-popup-form" method="POST" action="/changePass">
                    <button class = "close-popup" onclick="closeChangePassPopup()">X</button>
                    <div class = "change-pass-1">
                        <h1>Change Password</h1>
                        <input required type = "password" placeholder = "Old Password" name="oldPass" class = "pass-input pass1">
                        <input required type = "password" placeholder = "New Password" name = "newPass" class = "pass-input">
                        <input required type = "password" placeholder = "Confirm New Password" name = "confirmPass" class = "pass-input">
                        <input type = "submit" class = "submit-pass"></input>
                    </div>
                </form>
            </div>
        </div>
    </body>
</html>