<html>
    <head>
        <title>Forgot Password</title>
        
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/forgot.css">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "login.html" class = "back-button">◄ </a>
                    <p class = "back-header">Forgot Password</p>
                </div>
                <div class = "row-body">
                    <p class = "inner-header">Enter username below:</p>
                    <input type = "text" placeholder="Username" class="username-loc">
                    <div class = "body-content">
                        <input class = "next-button" type = "button" value = "Next" onclick = "next()">
                    </div>
                </div>
                <div class = "row-body-2">
                    <p class = "inner-header-2">Answer Security Questions:</p>
                    <div class = "row-ques">
                        <div class = "col-ques">
                            <p class = "question q1">Security question here Security question here</p>
                            <p class = "question q2">Security question here Security question here</p>
                            <p class = "question q3">Security question here Security question here</p>
                        </div>
                        <div class = "col-ans">
                            <input type = "text" placeholder="Answer" class="username-loc second">
                            <input type = "text" placeholder="Answer" class="username-loc second">
                            <input type = "text" placeholder="Answer" class="username-loc second">
                        </div>
                    </div>
                    <div class = "body-content">
                        <input class = "next2-button" type = "button" value = "Next" onclick="next2()">
                    </div>
                </div>
                <div class = "row-body-3">
                    <p class = "inner-header-2">Enter new password:</p>
                    <div class = "col-ques-2">
                            <input type = "password" placeholder="New password" class="username-loc third">
                            <input type = "password" placeholder="Confirm password" class="username-loc third">
                    </div>
                    <div class = "body-content">
                        <input class = "next2-button" type = "button" value = "Submit" >
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>