<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/forgot.css">
        <link rel="stylesheet" type="text/css" href="css/forgot3.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
        
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/forgot-pass2" class = "back-button">◄ </a>
                    <p class = "back-header">Forgot Password</p>
                    <% if (message && message.length > 0 ){%>
                        <div class ="error-col">
                            <span class="fa fa-exclamation-circle"></span>
                            <span class="msg_forgot3"><%= message %></span>
                        </div>
                    <% } %>
                </div>
                <div class = "row-body-3">
                    <p class = "inner-header-2">Enter new password:</p>
                    <form class = "new-pass-form" action="forgot-changePass3" method="POST">
                        <div class = "password-in">
                            <input required type = "password" placeholder = "Enter new password" class = "password-loc" name="pass">
                            <input required type = "password" placeholder = "Confirm new password" class = "password-loc" name="confirmPass">
                            <input type = "submit" class = "change-pass-button" value= "Submit">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </body>
</html>