<html>
    <head>
        <title>Forgot Password</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- JS -->
        <script src="js/forgot.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/forgot.css">
        <link rel="stylesheet" href="/css/fa/css/font-awesome.min.css">
    </head>
    <body>
        
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">
                    <a href = "/" class = "back-button">◄ </a>
                    <p class = "back-header">Forgot Password</p>
                    <% if (message && message.length > 0 ){%>
                        <div class ="error-col">
                            <span class="fa fa-exclamation-circle"></span>
                            <span class="msg_forgot1"><%= message %></span>
                        </div>
                     <% } %>
                </div>
                <div class = "row-body">
                    <p class = "inner-header">Enter username below:</p>
                    <form id = "enter-username-form" action="/forgot-pass2" method="post">
                        <input required type = "text" placeholder="Username" class="username-loc" id = "username-input" name="un">
                        <div class = "body-content">
                            <input class = "next-button" type = "submit" value = "Next" id = "next1">
                        </div>
                    </form>
            </div>
        </div>
    </body>
</html>