<html>
    <head>
        <title>Inventory</title>
        
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- JS -->
        <script src="js/main.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/inventory.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Polly's Pizza: Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="index.html">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="Dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="inventory.html">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="Inventory icon">
                                </a>
                            </li>
                            <li>
                                <a href="sales.html">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="Sales icon">
                                </a>
                            </li>
                            <li>
                                <a href="statistics.html">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="Statistics icon">
                                </a>
                            </li>
                            <li>
                                <a href="account.html">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="Account icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="/dashboard">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="/inventory">Inventory</a>
                            </li>
                            <div class = "selected"></div>
                            <li class = "menu-item-3">
                                <a href="/sales">Sales</a>
                            </li>
                            <li class = "menu-item-4">
                                <a href="/statistics">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="/account">Account</a>
                            </li>
                            <form action="/logout" method="POST">
                                <input type="submit" id = "logout" class = "logout-button" value = "Logout"></form>
                            <a href = "/help" class = "help-button">How to use</a>
                        </ul>
                    </div>

                </div>
                <div class = "page">
                    <div class = "row-1">
                        <select name="security options" class = "category-list">
                            <option value = "" disabled selected>Sort</option>
                            <option value = "q1">Vegetables</option>
                            <option value = "q1">Dairy</option>
                            <option value = "q1">Meats</option>
                            <option value = "q1">Seafood</option>
                            <option value = "q1">Fruits</option>
                            <option value = "q1">Stock Amount (Low)</option>
                            <option value = "q1">Stock Amount (High)</option>
                            <option value = "q1">None</option>
                        </select>
                        <div class = "sub-row-1">
                            <form class = "search-item-form">
                                <!-- <input type = "text" id = "search-input" class = "searchbar" placeholder = "Search">
                                <button type = "submit" class = "search-icon"></button> -->
                                <input type = "text" class = "search-bar" placeholder = "Search">
                                <button type = "submit" class = "search-icon"></button>
                            </form>
                            <input class = "add-stock" type = "button" onclick = "showPopup()" value = "Add Stock">
                        </div>
                    </div>

                    <div class = "row-2">
                        <table class = "stock-table">
                            <tr>
                                <th class = "st-header-1">Category</th>
                                <th class = "st-header-2">Name</th>
                                <th class = "st-header-3">In Stock</th>
                                <th class = "st-header-4">Actions</th>
                            </tr>
                            <tr>
                                <td>Vegetables</td>
                                <td>Tomatoes</td>
                                <td>20kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Vegetables</td>
                                <td>Lettuce</td>
                                <td>0.5kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Meats</td>
                                <td>Pepperoni</td>
                                <td>12kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Dairy</td>
                                <td>Full Cream Milk</td>
                                <td>2L</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Fruits</td>
                                <td>Mango</td>
                                <td>1.5kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Fruits</td>
                                <td>Apple</td>
                                <td>1kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Fruits</td>
                                <td>Melon</td>
                                <td>1kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Vegetables</td>
                                <td>Brocolli</td>
                                <td>0.5kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Seafood</td>
                                <td>Scallops</td>
                                <td>0.5kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                            <tr>
                                <td>Dairy</td>
                                <td>Cheese</td>
                                <td>1.2kg</td>
                                <td><button class = "edit-button">Edit</button></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class = "popup">
                <div class = "popup-form">
                    <button class = "close-popup" onclick="closePopup()">X</button>
                    <h1>Add Stock</h1> 
                </div>
            </div>
        </div>
    </body>
</html>