<html>
    <head>
        <title>Login Page</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
                    
        <!-- JS -->
        <script src="js/login.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/login.css">  
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        
    </head>
    <body>
        
        <div class = "main">

            <% if (fail && fail.length > 0 ){%>
                <div class ="popup">
                    <span class="fa fa-exclamation-circle"></span>
                    <span class="msg"><%= fail %></span>
                    </div>
            <% } %>

            <% if (success && success.length > 0 ){%>
                <div class ="popup2">
                    <span class="fa fa-check-circle"></span>
                    <span class="msg"><%= success %></span>
                    </div>
            <% } %>
    
            <div class ="inner">
                <div class = "login-div">
                    <form class = "form-1" method="post" action="/login">
                        <input required type = "text" class = "input uname" id = "username"  name="un" placeholder = "username">
                        <input required type = "password" class = "input pword" id = "password" name="pw" placeholder = "password">
                        <input type = "submit" class = "submit-button" id = "login-submit" value = "Login">
                    </form>
                </div>
                <a href = "/forgot-pass1" class = "forgot">Forgot Password</a>
            </div>
        </div>
    </body>
</html>
    