<html>
    <head>
        <!-- FONTS -->
        <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
    </head>
    <body>
        <div class = "main">
            <div class = "header">
                <h1>Inventory System</h1>
            </div>
            <div class = "lower">
                <div class = "menu">
                    <div class = "icons">
                        <ul class = "menu-icons">
                            <li>
                                <a href="index.html">
                                    <img class = "icon-1" src="res/dashboard-icon.svg" alt="dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="inventory.html">
                                    <img class = "icon-2" src="res/inventory-icon.svg" alt="dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="sales.html">
                                    <img class = "icon-3" src="res/sales-icon.svg" alt="dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="statistics.html">
                                    <img class = "icon-4" src="res/statistics-icon.svg" alt="dashboard icon">
                                </a>
                            </li>
                            <li>
                                <a href="account.html">
                                    <img class = "icon-5" src="res/account-icon.svg" alt="dashboard icon">
                                </a>
                            </li>
                        </ul>
                    </div>
                    <div class = "menu-col">
                        <ul class = "menu-items">
                            <li>
                                <a href="index.html">Dashboard</a>
                            </li>
                            <li class = "menu-item-2">
                                <a href="inventory.html">Inventory</a>
                            </li>
                            <li class = "menu-item-3">
                                <a href="sales.html">Sales</a>
                            </li>
                            <div class = "selected"></div>
                            <li class = "menu-item-4">
                                <a href="statistics.html">Statistics</a>
                            </li>
                            <li class = "menu-item-5">
                                <a href="account.html">Account</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <div class = "page">

                </div>
            </div>
        </div>
    </body>
</html>