body {
    overflow-x: hidden;
    overflow-y: hidden;
}
.page {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    z-index: 0;
}

.blank-row {
    height: 10%;
    width: 100%;
    background-color: white;
}

.succ-row {
    height: 50%;
    margin-top: 2%; 
    margin-left: 30%; 
    margin-right: 40%; 
    z-index: 100 !important;
    background-color: #c4ffc4dd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-left: 10px solid#4CAF50;
    display: flex;
}
.error-row {
    height: 50%;
    margin-top: 2%; 
    margin-left: 30%; 
    margin-right: 40%; 
    z-index: 100 !important;
    background-color: #ffdddd;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    border-left: 10px solid #f44336;
    display: flex;
}

.msg_account {
    color: black;
    font-size: 15px;
}
.error-row .fa-exclamation-circle {
    font-size: 21px;
    color:#f44336;
    padding-right: 8px;
}

.succ-row .fa-check-circle {
    font-size: 21px;
    color:#4CAF50;
    padding-right: 8px;
   
}

.col-1 {
    height: 93vh;
    width: 40%;
    /* background-color: red; */
    padding-top: 3%;
    padding-left: 3%;
    animation-name: flyFromLeft;
    animation-duration: 0.8s;
}

.info-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 30vh;
}

.row-2 {
    height: 35vh !important;
}

.username-info {
    display: flex;
}

.header-text {
    font-size: 20px;
    font-weight: 800;
    text-decoration: underline;
}

.info-column {
    width: 45vw;
    height: 100%;
    /* background-color: red; */
    padding-top: 3%;
    padding-left: 3%;
}

.inner-col-1 {
    animation-name: flyFromLeft;
    animation-duration: 0.8s;
}

.inner-col-2{
    opacity: 0;
    animation-name: flyFromLeft;
    animation-duration: 0.8s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}

.inner-col-3{
    opacity: 0;
    animation-name: flyFromLeft;
    animation-duration: 0.8s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
}

.inner-text {
    margin-top: 5%;
    font-size: 20px;
    font-weight: 800;
    margin-left: 5%;
}

.username-loc {
    font-size: 20px;
    font-weight: 400;
    text-decoration: underline;
    margin-top: 5%;
    margin-left: 5%;
}

.change-pass{
    margin-top: 3%;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.change-uname{
    margin-top: 10%;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    color: rgb(170, 170, 170);
}

.change-info {
    display: flex;
    flex-direction: column;
}

.delete-button {
    width: 30%;
    height: 15%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #f37f7f;
    font-family: "Raleway";
    font-style: normal;
    font-size: 16px;
    font-weight:500;
    color: white;
    margin-top: 8%;
}

.delete-button:hover {
    background-color: #f14040;
    cursor: hand;
}

.security-options-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 5%;
    margin-top: 5%;
}

.sec-questions{
    padding: 10 0px;
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 18px;
    font-weight: 700;
    max-width: 100%;
    width: 90%;
    text-indent: 20px;
    -webkit-border-radius: 50px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.sec-questions:hover {
    cursor: hand;
}

.input-uname {
    font-size: 20px;
    font-weight: 700;
    padding: 10px;
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    width: 90%;
}

.input-uname::placeholder {
    color: rgb(207, 207, 207);
}


.change-uname:hover {
    color: rgb(143, 143, 143);
}

.change-pass:hover {
    color: rgb(143, 143, 143);
}

.dropdown-icon {
    background: url(/res/dropdown.png);
    position: absolute;
    z-index: 10 !important;
    margin-left: -10%;
    margin-top: 2%;
    height: 20px;
    width: 20px;
    background-size: 100%;
    outline: none;
    border: none;
    pointer-events: none;
}

.dropdown-icon:hover {
    cursor: hand;
}

.select-container {
    margin-top: 5%;
    position: relative;
}

.add-button {
    width: 30%;
    height: 15%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #7FC7F3;
    font-family: "Raleway";
    font-style: normal;
    font-size: 16px;
    font-weight:500;
    color: white;
    margin-top: 10%;
    margin-left: 10%;
}

.add-button:hover {
    background-color: #40adf1;
    cursor: hand;
}

.row-2 {
    margin-top: -3%;
}

.sec-answer {
    padding: 11 0px;
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 18px;
    font-weight: 300;
    max-width: 100%;
    width: 80%;
    outline: none;
    text-indent: 15px;
    margin-top: 4.5%;
}

.sec-answer::placeholder {
    color: rgb(207, 207, 207);
    font-size: 18px;
    opacity: 40%;
}

.security-answers {
    margin-top: 10%;
}

.update-button {
    width: 30%;
    height: 15%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #7FC7F3;
    font-family: "Raleway";
    font-style: normal;
    font-size: 16px;
    font-weight:500;
    color: white;
    margin-top: 43%;
}

.update-button:hover {
    background-color: #40adf1;
    cursor: hand;
}

.change-usern-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.change-usern-popup-form {
    width: 20%;
    height: 20%;
    margin-top: -10%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.change-usern-popup-form-inner{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-usern-popup-form h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: -35%;
}

.new-usern {
    border-radius: 50px;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    padding: 8px 0px;
    text-indent: 15px;
    width: 70%;
    font-size: 18px;
    font-weight: 700;
    position: absolute;
    left: 30;
    top: 70;
}

.new-usern::placeholder {
    opacity: 40%;
}

.change-usern-1 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
}

.next-usern {
    height: 20%;
    font-size: 16px;
    width: 30%;
    font-weight: 600;
    bottom: 20;
    color: white;
    border-radius: 50px;
    background-color: #7FC7F3;
    right: 20;
    outline: none;
    border: none;
    position: absolute;
}

.next-usern::placeholder{
    opacity: 40%;
}

.change-usern-2 {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    align-items: center;
    pointer-events: none;
    opacity: 0%;
}

.change-pass-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.change-pass-popup-form {
    width: 20%;
    height: 32%; /*30 orignal - please check*/
    margin-top: -10%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.change-pass-popup-form-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-pass-1 {
    width: 100%;
    position: absolute;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.change-pass-1 h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5%;
}

.pass-input {
    border-radius: 50px;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    padding: 8 0px;
    text-indent: 15px;
    width: 70%;
    font-size: 18px;
    font-weight: 700;
    margin-left: -10%;
    margin-top: 5%;
}

.submit-pass {
    height: 13%;
    font-size: 16px;
    width: 30%;
    font-weight: 600;
    bottom: 20;
    color: white;
    border-radius: 50px;
    background-color: #7FC7F3;
    right: 20;
    outline: none;
    border: none;
    position: absolute;
}

.submit-pass:hover {
    background-color: #40adf1;
    cursor: hand;
}

.pass-input::placeholder {
    opacity: 40%;
}

.pass1 {
    margin-top: 5.5% !important;
}

.add-account-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-account-form {
    width: 40%;
    height: 70%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.add-account-form-inner {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-account-icon {
    margin-left: -6%;
    margin-top: 4%;
}

.ques-header {
    margin-bottom: 2%;
    margin-top: -10%;
}
.add-account-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-account-div h1 {
    margin-top: 5%;
}

.close-add {
    width: 5%;
    height: 30px !important;
}

.inner-add-account-div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.add-info-label {
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    flex-direction: column;
    padding-top: 1%;
}

.add-info-ans {
    /* background-color: green; */
    width: 100%;
    height: 50%;
    display: flex;
}

.inner-security-question-container {
    margin-top: 2%;
    padding-left: 2%;
}

.add-info-label label {
    font-size: 18px;
    font-weight: 700;
    margin-left: 5%;
    margin-top: 1%;
}

.info-entry {
    width: 87%;
    margin-left: 6%;
    outline: none;
    border-radius: 50px;
    padding: 8px 0px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 18px;
    max-width: 100%;
    margin-top: 1%;
    text-indent: 20px;
}

.inner-security-questions {
    padding: 9px 0px;
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 18px;
    font-weight: 700;
    max-width: 100%;
    width: 90%;
    text-indent: 20px;
    -webkit-border-radius: 50px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 5%;

}

.add-acc-sec-ans {
    padding: 9px 0px;
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 18px;
    font-weight: 700;
    max-width: 100%;
    width: 90%;
    text-indent: 20px;
    -webkit-border-radius: 50px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 10%;
}

.add-acc-sec-ans::placeholder {
    opacity: 40%;
}

.add-info-sec-ques {
    width: 60%;
    height: 100%;
    padding-left: 5%;
}

.add-info-sec-ans {
    width: 40%;
    height: 100%;
    margin-top: -2.5%;
    position: relative;
}

.add-acc-update-button {
    width: 40%;
    height: 13%;
    outline: none;
    border: none;
    background-color: #7FC7F3;
    font-family: "Raleway";
    font-style: normal;
    font-size: 16px;
    font-weight:500;
    color: white;
    border-radius: 50px;
    position: absolute;
    bottom: 15;
    right: 50;
}

.add-acc-update-button:hover {
    background-color: #40adf1;
    cursor: hand;
}

.add-acc-sec-ans {
    width: 90%;
    margin-left: -8%;
    font-weight: 300;
}

.delete-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.delete-popup-form {
    width: 20%;
    height: 20%;
    margin-top: -10%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.delete-popup-form-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-delete {
    height: 15%;
}

.close-popup{
    height: 15%; /*i added this -pat*/
}


.delete-popup h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5%;
}

.delete-acc-inner {
    height: 20%;
    width: 50%;
    margin-left: 40%;
}

.confirm-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: -17%;
    margin-left: -15%;
}

.confirm-popup-form {
    width: 20%;
    height: 20%;
    margin-top: -10%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.confirm-popup h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5%;
}

.row-1 {
    margin-top: -2%;    
}

.tooltip {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-right: 30px;
    pointer-events: all;
    z-index: 100 !important;
    height: 20px;
    width: 20px;
    background: url(/res/faq.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    font-weight: 300;
    position: absolute;
    content: '';
    background-color: #333;
    left: 50%;
    top: -2px;
    transform: translateX(-30%) translateY(-130%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom left;
}

.tooltip::before {
    content: attr(data-tooltip-value);
    color: white;
    padding: 10px;
    width: max-content;
    left: 50px;
    border-radius: 5px;
}

.tooltip:hover:before,
.tooltip:hover::after { 
    --scale: 1;
}

.tooltip::after {
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    content: '';
    border: 15px solid transparent;
    border-top-color: #333;
    background-color: transparent;
    transform-origin: top left;
}

.change-pass-tooltip {
    margin-left: 85%;
    margin-top: -8%;
    margin-bottom: 2%;
}

.add-acc-tooltip {
    margin-left: 20%;
    margin-top: -2.75%;
    background-size: 95%;
}

@media (-webkit-device-pixel-ratio: 1.25) {
    .inner-security-questions {
        padding: 7px 0px;
        font-size: 14px;
    }
    .add-acc-sec-ans {
        margin-top: 10%;
        font-size: 16px;
        padding: 7px 0px;
    }

    .add-info-sec-ans {
        margin-top: -0.5%;
    }

    .header-text {
        font-size: 18px;
    }

    .add-info-label label {
        font-size: 16px;
    }
    
    .tooltip::before,
    .tooltip::after {
        font-size: 13px;
    }

    .tooltip {
        background-size: 90%;
    }

    .add-acc-tooltip {
        margin-top: -3.25%;
    }

    .change-pass-tooltip {
        margin-top: -9%;
    }

    .info-entry {
        margin-top: 0.5%;
        padding: 7px 0px;
    }

    .add-info-sec-ques {
        padding-top: 2%;
    }

    .inner-text {
        font-size: 16px;
    }
    
    .username-loc {
        font-size: 16px;
    }

    .change-uname{
        font-size: 16px;
    }

    .change-pass{
        font-size: 16px;
    }

    .delete-button {
        font-size: 12px;
    }

    .sec-questions {
        padding: 6px 0px;
        font-size: 16px;
    }

    .sec-answer {
        padding: 7px 0px;
        font-size: 14px;
        font-weight: 300;
        margin-top: 5%;
    }
    
    .sec-answer::placeholder {
        font-size: 16px;
    }

    .update-button {
        margin-top: 50%;
        font-size: 14px;
    }

    .add-button {
        font-size: 14px;
    }

    .row-1 {
        margin-top: -2%;
    }

    .inner-col-1 {
        margin-left: 2%;
    }

    .change-usern-popup h1 {
        font-size: 18px;
    }

    .new-usern {
        padding: 6px 0px;
        text-indent: 15px;
        width: 70%;
        font-size: 14px;
        margin-top: -5%;
        font-weight: 300;
    }

    .next-usern {
        font-size: 14px;
        margin-right: 5%;
    }

    .change-pass {
        margin-top: 5%;
    }

    .change-pass-popup h1{
        font-size: 18px;
    }

    .pass-input {
        padding: 6px 0px;
        text-indent: 15px;
        width: 70%;
        font-size: 14px;
        font-weight: 300;
        margin-left: -10%;
        margin-top: 5%;
    }

    .submit-pass {
        font-size: 14px;
        bottom: 15;
        right: 20;
    }

    .row-2 {
        margin-top: -5%;
    }
    
    .dropdown-icon {
        background-size: 70%;
        background-repeat: no-repeat;
        margin-top: 3%;
    }

    .add-account-icon {
        margin-top: 4%;
    }

    .add-acc-sec-ans {
        font-size: 14px;
    }

    .delete-popup h1 {
        font-size: 18px;
    }

    .delete-pass-input {
        margin-top: 15%;
    }

    .delete-acc-inner {
        width: 45%;
    }

    .confirm-popup h1 {
        font-size: 18px;
    }

    .add-acc-update-button {
        font-size: 14px;
        width: 50%;
        right: 25;
    }
  }

.make-visible {
    visibility: visible;
    animation-name: slowAppear;
    animation-duration: 0.4s;
}

.make-invisible {
    visibility: hidden;
    animation-name: slowAppear;
    animation-duration: 0.4s;
}

.remove {
    animation-name: exitToLeft;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.appear {
    animation-name: enterFromRight;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    pointer-events: all !important;
}

.disappear {
    opacity: 0;
}

@keyframes flyFromRight {
    from {
        opacity: 0%;
        transform: translateX(10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromLeft {
    from {
        opacity: 0%;
        transform: translateX(-10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromDown {
    from {
        opacity: 0%;
        transform: translateY(3%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes flyFromUp {
    from {
        opacity: 0%;
        transform: translateY(-3%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes slowAppear{
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes exitToLeft {
    from {
        opacity: 100%;
        transform: translateX(0%);
    }
    to {
        opacity: 0%;
        transform: translateX(-10%);
    }
}

@keyframes enterFromRight {
    from {
        opacity: 0%;
        transform: translateX(10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}