.main {
    font-family: "Raleway";
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}


.row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
    transition: ease-out 0.8s;
}


.row-4 {
    margin-top: 5%;
    width: 100%;
    height: 5%;
}

.delete-input {
    background-color: rgb(237, 237, 237);
    pointer-events: none;
}

.inner-col {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
    animation-duration: 0.8s;
}

.back-button:hover{
    color: #183F76;
}

.row-before-4 {
    height: 60px;
    width: 100%;
}

.row-4 {
    height: 60px;
    width: 100%;
    display: flex;
    position: relative;
}

.new-button {
    margin-top: 2%;
    width: 30%;
    height: 70%;
    font-size: 16px;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #dcdcdc;
    color: white;
    font-weight: 600;
}

.new-button:hover {
    background-color: #aaaaaa;
    cursor: hand;
}

.row-body {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
}

.inner-card {
    width: 80%;
    display:flex;
    flex-direction: column;
    position: relative;
}

.inner-card label {
    font-size: 20px;
    font-weight: 700;
}

.category-container {
    width: 100%;
    display: flex;
    position: relative;
}

.dropdown-icon {
    background: url(/res/dropdown.png);
    background-size: 100%;
    height: 20px;
    width: 20px;
    position: absolute;
    z-index: 10 !important;
    outline: none;
    border: none;
    pointer-events: none;
    background-repeat: no-repeat;
    right: 30;
    bottom: 35;
}


.dropdown-icon:hover {
    cursor: hand;
}

.input {
    font-size: 20px;
    padding: 7px 0px;
    border-radius: 50px;
    width: 100%;
    margin-top: 2px;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 3%;
    text-indent: 20px;
}

.category-input {
    font-size: 20px;
    padding: 7px 0px;
    border-radius: 50px;
    width: 100%;
    margin-top: 2px;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 3%;
    text-indent: 20px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.entry {
    width: 100%;
    display: flex;
    justify-content: center;
}

.outcome {
    width: 30%;
    height: 100%;
    display: flex;
    position: absolute;
    right: 0;
}

.delete-div {
    width: 30%;
    height: 100%;
    display: flex;
    position: absolute;
    left: 0;
}

.submit-button {
    height: 70%;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #7FC7F3;
    outline: none;
    border: none;
    position: absolute;
    right: 0;
}

.submit-button:hover {
    background-color: #40adf1;
    cursor: hand;
}

.cancel-button {
    height: 70%;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #dcdcdc;
    outline: none;
    border: none;
    position: absolute;
    right: 260;
}

.cancel-button:hover {
    background-color: #aaaaaa;
    cursor: hand;
}

.delete-button {
    height: 70%;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #f37f7f;
    outline: none;
    border: none;
}

.delete-button:hover {
    background-color: #f14040;
    cursor: hand;
}

.addb{
    background-color:  #93dd52  !important;
}

.removeb {
    background-color: #eea073 !important;
}

.removeb:hover {
    background-color: #d8773e!important;
    cursor: hand;
}

.addb:hover {
    background-color: #75c931 !important;
    cursor: hand;
}


.image-input {
    font-size: 18px;
    padding: 30px 0px;
    width: 85%;
    box-sizing:border-box;
    margin-top: -2%;
    margin-bottom: 3%;
}

.ingredient-input {
    padding-top: 2%;
    width: 100%;
    display: flex;
}

.ingredient-input label{
    font-weight: 300;
    font-size: 16px;
}

.ingredient-name{
    width: 80%;
}

.ingredient-name label {
    font-size: 18px;
    margin-bottom: 5%;
    margin-top: -5%;
}

.ingredient-qty {
    width: 20%;
}

.ingredient-name {
    font-size: 18px;
}

.submit-row {
    width: 100%;
    height: 80px;

}

.ingredient-submit {
    width: 30%;
    height: 50%;
    font-size: 16px;
    margin-top: 5%;
    margin-bottom: 50%;
    margin-left: 65%;
}

.add-input {
    font-size: 20px;
    padding: 8px 0px;
    border-radius: 50px;
    width: 95%;
    margin-top: 1%;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 2%;
    text-indent: 20px;
}

.ingredient-add {
    margin-top: 7%;
    margin-bottom: 6.5%;
    font-size: 18px;
    width: 100%;
}

.tooltip {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-right: 30px;
    pointer-events: all;
    z-index: 100 !important;
    height: 20px;
    width: 20px;
    background: url(/res/faq.png);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    font-weight: 300;
    position: absolute;
    content: '';
    background-color: #333;
    left: 50%;
    top: -2px;
    transform: translateX(-30%) translateY(-130%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom left;
}

.tooltip::before {
    content: attr(data-tooltip-value);
    color: white;
    padding: 10px;
    width: max-content;
    left: 50px;
    border-radius: 5px;
}

.tooltip:hover:before,
.tooltip:hover::after { 
    --scale: 1;
}

.tooltip::after {
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    content: '';
    border: 15px solid transparent;
    border-top-color: #333;
    background-color: transparent;
    transform-origin: top left;
}

.ingredient-tooltip {
    margin-left: 30%;
    margin-top: -12%;
}

@media (-webkit-device-pixel-ratio: 1.25) {

    .cancel-button {
        right: 210;
    }  

    .ingredient-add {
        margin-bottom: 7.25%;
    }

    .tooltip {
        font-size: 13px;
        background-size: 80% !important;
        margin-top: -15%;
    }
}

@keyframes exitToLeft {
    from {
        opacity: 100%;
        transform: translateX(0%);
    }
    to {
        opacity: 0%;
        transform: translateX(-50%);
    }
}

@keyframes enterFromRight {
    from {
        opacity: 0%;
        transform: translateX(50%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromRight {
    from {
        opacity: 0%;
        transform: translateX(10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromLeft {
    from {
        opacity: 0%;
        transform: translateX(-10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromLeftSmall {
    from {
        opacity: 0%;
        transform: translateX(-2%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromDown {
    from {
        opacity: 0%;
        transform: translateY(3%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes flyFromUp {
    from {
        opacity: 0%;
        transform: translateY(-3%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes slowAppear{
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}