.category-list{
    padding: 10 0px;
    border-radius: 50px;
    border: 1px solid rgb(216, 216, 216);
    font-size: 18px;
    font-weight: 700;
    max-width: 20%;
    width: 20%;
    text-indent: 15px;
    -webkit-border-radius: 50px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    margin-top: 2%;
}
.blank-row {
    margin-top: -15px;
    margin-bottom: -20px;
    height: 17%;
    width: 100%;
    background-color: white;
    display: flex;  
}
.error-row {
    width: 50%;
    margin-left: 23%; /*25%*/
    margin-right: 48%; /*50% or 45% or */
    z-index: 100 !important;
    background-color: #ffdddd;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border-left: 10px solid #f44336;
    display: flex;
}
.succ-row {
    width: 50%;
    margin-left: 25%; 
    margin-right: 50%; /*50% or 45% or */
    z-index: 100 !important;
    background-color: #c4ffc4dd;
    align-items: center;
    justify-content: center;
    border-radius: 7px;
    border-left: 10px solid #4CAF50;
    display: flex;
}
.msg_inventory {
    color: black;
    font-size: 15px;
}
.error-row .fa-exclamation-circle {
    font-size: 21px;
    color:#f44336;
    padding-right: 8px;
}

.succ-row .fa-check-circle {
    font-size: 21px;
    color:#4CAF50;
    padding-right: 10px;
}

.row-1 {
    width: 100%;
    height: 25%;
    /* background-color: red; 25%*/
    display:flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 4%;
    animation-name: slowAppear;
    animation-duration: 0.8s;
}

.row-2 {
    height: 75%;
    /* background-color: orange; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10%;
    animation-name: flyFromDown;
    animation-duration: 0.8s;
    opacity: 0;
    animation-fill-mode: forwards;
    animation-delay: 0.2s;
}

.stock-table {
    border-collapse: collapse;
    width: 90%;
    -webkit-box-shadow: 0px 8px 15px -2px rgba(0,0,0,0.24); 
    box-shadow: 0px 8px 15px -2px rgba(0,0,0,0.24);
}
.stock-table, th{
    border: 1px solid rgb(216, 216, 216);
    padding: 0.5%;
    text-align: center;
}

.stock-table, td {
    border-right: 1px solid rgb(216, 216, 216);
    padding: 2%;
    text-align: center;
    font-weight: 700;
}

.st-header-1 {
    width: 20%;
}

.st-header-2 {
    width: 40%;
}

.st-header-3 {
    width: 20%;
}

.st-header-4 {
    width: 20%;
}

.stock-table th {
    background-color: rgb(230, 230, 230);
}

.sub-row-1 {
    height: 20%;
    display: flex;
    flex-direction: row;
    position: relative;
    width: 90%;
}

.search-item-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search-bar {
    height: 90%;
    border-radius: 50px;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    padding: 10 0px;
    text-indent: 15px;
    width: 750px;
    font-size: 18px;
    font-weight: 700;
}

.search-bar::placeholder {
    color: rgb(207, 207, 207);
    font-size: 18px;
    font-weight: 700;
    opacity: 80%;
}

.search-icon {
    background-image: url(/res/search.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 35%;
    width: 10%;
    height: 100%;
    position: absolute;
    outline: none;
    border: none;
    z-index: 10 !important;
    background-color: transparent;
    opacity: 20%;
    right: 0;
}

.search-icon:hover {
    transition: .5s ease;
    opacity: 100%;
    cursor: hand;
    outline: none;
    background-color: transparent;
    outline: none;
}

.search-item-form {
    display: flex;
    position: relative;
}

.add-stock {
    height: 100%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    width: 10%;
    background-color: #7FC7F3;
    right: 0;
    outline: none;
    border: none;
    position: absolute;
}

.add-stock:hover {
    cursor: hand;
    background-color: #40adf1;
}

.edit-button {
    border: none;
    background-color: white;
    outline: none;
    font-size: 16;
    font-weight: 500;
    border-bottom: 1px solid gray;
    width: 20%;
    color: gray;
}

.edit-button:hover {
    color: #000000;
    cursor: hand;
}

.dropdown-icon {
    background: url(/res/dropdown.png);
    background-size: 100%;
    height: 20px;
    width: 20px;
    margin-left: -2%;
    position: absolute;
    z-index: 10 !important;
    outline: none;
    border: none;
    pointer-events: none;
    background-repeat: no-repeat;
}

.dropdown-search {
    position: absolute;
    bottom: 8;
}

.dropdown-icon:hover {
    cursor: hand;
}

.st-header-3-inner {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
}

.h3-name {
    margin-right: 50px;
}

.tooltip {
    height: 20px;
    width: 20px;
    position: absolute;
    margin-right: 30px;
    pointer-events: all;
    z-index: 100 !important;
    height: 20px;
    width: 20px;
    background: url(/res/faq.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.tooltip::before,
.tooltip::after {
    --scale: 0;
    font-weight: 300;
    position: absolute;
    content: '';
    background-color: #333;
    left: 50%;
    top: -2px;
    transform: translateX(-30%) translateY(-130%) scale(var(--scale));
    transition: 150ms transform;
    transform-origin: bottom left;
}

.tooltip::before {
    content: attr(data-tooltip-value);
    color: white;
    padding: 10px;
    width: max-content;
    left: 50px;
    border-radius: 5px;
}

.tooltip:hover:before,
.tooltip:hover::after { 
    --scale: 1;
}

.tooltip::after {
    transform: translateX(-50%) translateY(-50%) scale(var(--scale));
    content: '';
    border: 15px solid transparent;
    border-top-color: #333;
    background-color: transparent;
    transform-origin: top left;
}


.add-stock-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add-stock-popup-form {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.add-stock-popup-form-inner {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-stock-popup h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5%;
}

.inner-add-stock {
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    padding-top: 5%;
    position: relative;
}

.inner-add-stock label {
    font-size: 20px;
    font-weight: 700;
    margin-left: 7%;
}

.add-input {
    font-size: 20px;
    padding: 8px 0px;
    border-radius: 50px;
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 5%;
    text-indent: 20px;
}

.category-input {
    font-size: 20px;
    padding: 8px 0px;
    border-radius: 50px;
    width: 80%;
    margin-left: 9%;
    margin-top: 2%;
    outline: none;
    border: 1px solid rgb(216, 216, 216);
    margin-bottom: 5%;
    text-indent: 20px;
    outline: none;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.category-input {
    position: relative;
}

.edit-stock-popup {
    overflow: auto;
    visibility: hidden;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(121, 121, 121, 0.322);
    z-index: 10 !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.edit-stock-popup-form {
    width: 20%;
    height: 50%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.edit-stock-popup h1 {
    font-size: 26px;
    font-weight: 700;
    margin-top: 5%;
}
.add-stock-icon {
    margin-left: -10%;
    margin-top: 4.5%;
}

.submit-button {
    position: absolute;
    height: 10%;
    width: 30%;
    font-size: 16px;
    font-weight: 600;
    color: white;
    border-radius: 50px;
    background-color: #7FC7F3;
    right: 20;
    bottom: 20;
    outline: none;
    border: none;
    position: absolute;
}

.submit-button:hover {
    background-color: #40adf1;
    cursor: hand;
}

.make-visible {
    visibility: visible;
    animation-name: slowAppear;
    animation-duration: 0.4s;
}

.make-invisible {
    visibility: hidden;
    animation-name: slowAppear;
    animation-duration: 0.4s;
}

.remove {
    animation-name: exitToLeft;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

.appear {
    animation-name: enterFromRight;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    pointer-events: all !important;
}

.disappear {
    opacity: 0;
}

.select-container {
    position: relative;
    width: 100%; /*added by pat width*/
    height: 30%;
}

.add-stock-tooltip {
    margin-left: 55%;
    margin-top: -5.5%;
}

@media (-webkit-device-pixel-ratio: 1.25) {
    .search-icon {
        background-size: 25%;
    }

    .category-list {
        padding: 6px 0px;
        font-size: 16px;
        margin-top: 0.5%;
    }

    .dropdown-search {
        bottom: 22;
    }

    .search-bar {
        font-size: 16px;
    }

    .search-bar::placeholder {
        font-size: 16px;
        font-weight: 300;
    }

    .tooltip::before,
    .tooltip::after {
        font-size: 13px;
    }
    .sub-row-1 {
        margin-top: -2%;
        position: relative;
    }

    .add-stock-tooltip {
        margin-top: -6.5% !important;
        background-size: 85% !important;
    }
    .tooltip {
        background-size: 90%;
        margin-top: -0.5%;
    }
    .add-stock {
        font-weight: 300;
        font-size: 14px;
        right: 80;
    }

    .stock-table td {
        font-size: 14px;
    }

    .edit-button {
        font-size: 14px;
    }

    .stock-table {
        width: 85%;
    }

    .row-1 {
        padding-left: 8%;
    }

    .dropdown-icon {
        background-size: 70%;
    }

    .add-stock-popup-form h1 {
        font-size: 20px;
    }

    .add-stock-popup-form label {   
        font-size: 16px;
    }

    .edit-stock-popup-form h1 {
        font-size: 20px;
    }

    .edit-stock-popup-form label {
        font-size: 16px;
    }


    .add-input {
        font-size: 16px;
        padding: 6px 0px;
    }
    
    .category-input {
        font-size: 16px;
        padding: 6px 0px;
    }

    .submit-button {
        font-size: 16px;
        height: 9%;
        width: 30%;
        font-size: 14px;
        font-weight: 600;
    }

    .add-stock-popup-form {
        height: 55%;
    }
}

@keyframes flyFromRight {
    from {
        opacity: 0%;
        transform: translateX(10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromLeft {
    from {
        opacity: 0%;
        transform: translateX(-10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}

@keyframes flyFromDown {
    from {
        opacity: 0%;
        transform: translateY(3%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes flyFromUp {
    from {
        opacity: 0%;
        transform: translateY(-3%);
    }
    to {
        opacity: 100%;
        transform: translateY(0%);
    }
}

@keyframes slowAppear{
    from{
        opacity: 0%;
    }
    to {
        opacity: 100%;
    }
}

@keyframes exitToLeft {
    from {
        opacity: 100%;
        transform: translateX(0%);
    }
    to {
        opacity: 0%;
        transform: translateX(-10%);
    }
}

@keyframes enterFromRight {
    from {
        opacity: 0%;
        transform: translateX(10%);
    }
    to {
        opacity: 100%;
        transform: translateX(0%);
    }
}