.main {
    font-family: "Raleway";
    font-style: normal;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.row-1 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.inner-col {
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.back-button {
    font-size: 30px;
    text-decoration: none;
    font-weight: 800;
    color: black;
    margin-top: 5%;
    margin-left: 10%;
}

.back-button:hover{
    color: #183F76;
}

.row-body {
    width: 80%;
    height: 100%;
    background-color: white;

}

.body-content {
    width: 100%;
    height: 100%;
    box-sizing: border-box; 
    padding-left: 10%;
    padding-top: 5%;
}

.question {
    font-size: 20px;
    font-weight: 600;
}

.answer {
    margin-left: 5%;
    margin-top: 2%;
    margin-bottom: 4%;
    text-align: justify;
    text-justify: inter-word;
    line-height: 2;
}

.q1 {
    margin-top: 1%;
}