.sales-table {
    border-collapse: collapse;
    width: 90%;
    -webkit-box-shadow: 0px 8px 15px 5px rgba(0,0,0,0.24); 
    box-shadow: 0px 8px 15px 5px rgba(0,0,0,0.24);
}
.sales-table, th{
    border: 1px solid rgb(216, 216, 216);
    padding: 0.5%;
    text-align: center;
}

.sales-table, td {
    border-right: 1px solid rgb(216, 216, 216);
    padding: 2%;
    text-align: center;
    font-weight: 700;
}

.st-header-1 {
    width: 15%;
}

.st-header-2 {
    width: 30%;
}

.st-header-3 {
    width: 10%;
}

.st-header-4 {
    width: 5%;
}

.st-header-5 {
    width: 20%;
}

.st-header-6 {
    width: 10%;
}

.sales-table th {
    background-color: rgb(230, 230, 230);
}

.row-1 {
    width: 100%;
    height: 45%;
    /* background-color: red; */
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}

.row-2 {
    width: 100%;
    height: 55%;
    /* background-color: gray; */
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
} 

.grid-container{
    width: 97%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 60% 60% 60% 60%;
    grid-row-gap: 10%;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.card {
    width: 70%;
    height: 95%;
    -webkit-box-shadow: 10px 9px 15px -5px rgba(0,0,0,0.5); 
    box-shadow: 10px 9px 15px -5px rgba(0,0,0,0.5);
}

.item-image {
    width: 100%;
    height: 70%;
    object-fit: cover;
}

.item-name {
    font-size: 18px;
    font-weight: 700;
    margin-top: 3%;
    margin-left: 10%;
}

.item-quantity{
    font-size: 22px;
    font-weight: 600;
    margin-top: 3%;
    margin-right: 15%; 
}

.card-row-1 {
    position: relative;
}

.three-dots {
    position: absolute;
    transform: translate(-150%, 20%);
    width: 10%;
    height: 20%;
    border-radius: 5px;
    outline: none;
    border: none;
    background:url(/views/res/threedot.png) no-repeat;
    background-position: center center;
    transition-duration: .40s;
}

.three-dots:hover {
    background-color: rgba(240, 240, 240, 0.822);
}

.card-row-2 {
    display: flex;
    padding-top: 2%;
}

.card-col-1 {
    width: 70%;
}

.inner-row-1 {
    text-align: right;
}

.inner-row-2 {
    display: flex;
    margin-top: 15%;
    margin-left: -20%;
}

.quantity-button {
    width: 25px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid rgb(187, 187, 187);
    outline: none;
}

.quantity-button:hover {
    background-color: rgb(207, 207, 207);
}

#add-button {
    margin-left: 15%;
}

.row-3 {
    display: flex;
    height: 4.5%;
    flex-direction: row;
    justify-content: flex-end;
    width: 100%;
    margin-top: 13%;
    margin-bottom: 1%;
}

.submit-button {
    width: 10%;
    height: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #7FC7F3;
    font-family: "Raleway";
    font-style: normal;
    font-size: 16px;
    font-weight:500;
    color: white;
    margin-right: 5%;
}

.submit-button:hover {
    background-color: #40adf1;
}

.add-product-button {
    width: 10%;
    height: 100%;
    border-radius: 50px;
    outline: none;
    border: none;
    background-color: #7FC7F3;
    font-family: "Raleway";
    font-style: normal;
    font-size: 16px;
    font-weight:500;
    color: white;
    margin-right: 2%;
}

.add-product-button:hover {
    background-color: #40adf1;
}

.edit-button {
    border: none;
    background-color: white;
    outline: none;
    font-size: 16;
    font-weight: 500;
    border-bottom: 1px solid gray;
    width: 40%;
    color: gray;
}

.edit-button:hover {
    color: black;
}