<html>
    <head>
        <title>Help</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- FONTS -->
        <link rel="stylesheet" href="/css/font/fonts.css">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="css/base.css">
        <link rel="stylesheet" type="text/css" href="css/help.css">
    </head>
    <body>
        <div class = "main">
            <div class = "inner-col">
                <div class = "row-1">

                    <a href = "/dashboard" class = "back-button">◄ Home</a>
                </div>
                <div class = "row-body">
                    <div class = "body-content">
                        <p class = "question q1">How can I enter the system?</p>
                        <p class = "answer a1">- The user must enter their appropriate username and password in the login page then click submit.</p>

                        <p class = "question q2">What if I forgot my password?</p>
                        <p class = "answer a2">- Click the forgot password button then answer 3 security questions with the appropriate answers. 
                            After answering successfully, the user can change their password afterwards.</p>

                        <p class = "question q3">Can I change/update the information of items/ingredients in the inventory?</p>
                        <p class = "answer a3">- Yes, the edit button will enable the user to change the corresponding category, name, 
                            and quantity of the chosen item if needed. </p>
                        <p class = "answer a3.1">- The quantity of certain ingredients will reduce if they are used in a recently sold product (pizza).</p>

                        <p class = "question q4">Can I add an item in the inventory?</p>
                        <p class = "answer a4">- Yes, the add button is located at the upper right side of the page where there will be a pop-up form 
                            for the user to use to add an item in stock along with the appropriate information.</p>

                        <p class = "question q5">Can I add or delete products in the sales page?</p>
                        <p class = "answer a5">- For adding a new product, there is an “add product” button beside the cards of the current products. 
                            The “add product” button, when clicked, will show a pop-up form where they can add the information for the new product.</p>
                        <p class = "answer a5.1">- For deleting existing products, there is a clickable ellipsis (...) inside the card of the product 
                            which will show a menu which shows a delete button. When the delete button is clicked, it will remove the selected item.</p>

                        <p class = "question q6">How can I add sales transactions?</p>
                        <p class = "answer a6">- The system will record the submitted transactions in real time. In the Sales page, there are 
                            corresponding items with “+” and “-” buttons. The user should click the “+” button, which will add one (1) for each click
                            for the items that are sold in a transaction, and when the user clicks the submit button, the sale will be recorded in the
                             sales history table.</p>

                        <p class = "question q7">What if I added a wrong sale transaction?</p>
                        <p class = "answer a7">- Each sales transaction in the sales table will have an edit button, which when clicked would show a 
                            delete button beside them for the user to delete the transaction if needed. The user can minimize these mistakes by using the 
                            “-” button beside the item to subtract one (1) from the quantity of the item chosen before submitting the transaction.</p>

                        <p class = "question q8">How will I update the Statistics page?</p>
                        <p class = "answer a8">- The user cannot update the statistics page and they don’t need to. The system will automatically 
                            compute the statistics according to the sales performance of the store. It will also the Best and least selling products 
                            as well as the most used ingredients. </p>

                        <p class = "question q9">Can I change the information of my account? </p>
                        <p class = "answer a9">- Yes, in the account page the user can edit their username, change their password, and update their 
                            security questions. The user can also delete their own account or add new accounts if necessary.</p>

                            
                                            
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>